<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                  <a class="navbar-brand" href="#"><%=image_tag("logo.png")%></a>
             </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">PROFILE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">MY POST</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="profile">
                            <div class="black-box">
                            </div>
                            <div class="profile-content">
                                <%=image_tag("main_profile_img.jpg")%>
                                 <div class="name">
                                    KHRIS, KANG
                                </div>
                                <div class="job">
                                    creative, designer
                                </div>

                                <div class="contents">
                                    여행좋아하고, 사람좋아하고, 디자인 좋아하고,농구좋아하고 그저 그렇게 즐기며 사는 남자
                                </div>

                                <div class="line"></div>

                                <div class="sns-icon">
                                    <a href="#" class="youtube"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                    <a href="#" class="pinterest"></a>
                                    <a href="#" class="instagram"></a>
                                </div>
                            </div>                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>















    <!-- About Section -->
    <section class="about">


    </section>








    <!-- Download Section -->
    <section id="download" class="content-section text-center">
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">



    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
